
<div class="comment">
	<div class="row centered">
		<div class="small-11 small-centered panel columns">
			<blockquote>
				<%= comment.body %>
				<cite><%= comment.commenter %></cite>
			</blockquote>

			<!-- Clicking this new "Destroy Comment" link will fire off a DELETE
			/articles/:article_id/comments/:id to our CommentsController, which can then use this to find the comment we want to delete -->
			<p>
			  <%= link_to 'Destroy Comment', [comment.article, comment],
			               method: :delete,
			               data: { confirm: 'Are you sure?' }, class: "button tiny [radius round]" %>
			</p>
		</div>
	</div>
</div>	