
<section id="articles">
      <div class="medium-11 columns small-centered">

        <div class="row">
          <div class="small-12 medium-6 columns">
            <h1>Hypotheses</h1> 
          </div>
        </div>



<% @articles.each do |article| %>

        <div class="row_article">
          <div class="row">

            <div id="article" class="small-12 medium-6 columns">
              <%= link_to article.title, article_path(article), class: "button small [radius round]" %>           
            </div>

            
            <div id="edit" class="small-5 medium-3 columns">
              <%= link_to 'Edit', edit_article_path(article), class: "button small [radius round]" %>
            </div> 

            <div id="edit" class="small-5 medium-3 columns end">
              <%= link_to 'Destroy', article_path(article),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: "button small [radius round]" %>
            </div>

          </div> <!-- end row -->
        </div>
      </br>
    
<% end %>
      </div>
  </section>