

<section id="about">
    
      <div class="row">
        <div class="small-10 small-offset-1 columns ">
         <div class="border">


          <dl class="tabs" data-tab>
            <dd class="active"><a href="#panel1">Cumulative Intelligence</a></dd>
            <dd class="right"><a href="#panel3">Intelligence</a></dd>
            <dd class="right"><a href="#panel2">Cumulative</a></dd> 
          </dl>
          <div class="tabs-content">

            <div class="content active" id="panel1">
              <p>Definition -> using personal or interpersonal expiriences, knowledge or memories to understand and overcome challenges</p>
            </div>

            <div class="content" id="panel2">
              <p>
                <u>cu·mu·la·tive</u> (adjective) -> increasing or increased in quantity, degree, or force by successive additions.
              </p>
            </div>

            <div class="content" id="panel3">
              <p>
                <u>in·tel·li·gence</u> (noun) -> the ability to learn or understand things or to deal with new or difficult situations
              </p>
            </div>
          </div>

          </div>
        </div>   
    </div>
</section>















<section id="articles">
      <div class="medium-11 columns small-centered">

        <div class="row">
          <div class="small-12 medium-6 columns">
            <h1><u>Hypotheses</u></h1> 
          </div>
        </div>



<% @articles.each do |article| %>

        <div class="row_article">
          <div class="row" data-equalizer>

            <div id="article" class="small-12 medium-6 columns" data-equalizer-watch>
              <%= link_to article.title, article_path(article), class: "button small [radius round]" %>           
            </div>

            
            <div id="edit" class="small-5 medium-3 columns" data-equalizer-watch>
              <%= link_to 'Edit', edit_article_path(article), class: "button small [radius round]" %>
            </div> 

            <div id="edit" class="small-5 medium-3 columns end" data-equalizer-watch>
              <%= link_to 'Destroy', article_path(article),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: "button small [radius round]" %>
            </div>

          </div> <!-- end row -->
        </div>
      </br>
    
<% end %>
      </div>
  </section>