/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */






.body{
  opacity: 1.5;
}


#footer {position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
}

#footer .button{
  width: 100%;  
  background-size: 100%;
  text-align: center;
  color: #D5E8FF;
  
}

.article {
  font-size: 1em;
  line-height: 100%;
}

.article h2{
  padding-left: 2em;
}




#border{
  border-style: solid;
  border-color: white;
}


#about dd{
  padding-left: 0em;
  margin-left: 0em;
}




#about #border{
  background:rgba(0,0,0,0.5)
}

a:link { 
  color: #D5E8FF;
  text-decoration: none;
}
a:visited { 
  color: #D5E8FF;
  text-decoration: none;
}
a:hover { 
  color: #D5E8FF;
  text-decoration: none;
}
a:active { 
  color: #D5E8FF;
  text-decoration: none;
}

 div.centeredcontent {
  width: 50%;
  margin: 0 auto;
 }

 section.container {
  margin: 40px;
  padding: 30px 40px;
  border: 1px solid #000;
  background-color: #D5E8FF;
 }

nav.top-bar ul li a {
  text-decoration: none;
}

div.form_container {
  max-width: 800px;
  width: auto;
  margin-left: 15%;
  border: 1px solid gray;
}

div.row {
  margin-left: 0;
}

input[type="text"] {
  float: left;
}


blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #dddddd; }
  blockquote cite {
    display: block;
    font-size: 0.8125rem;
    color: #555555; }
    blockquote cite:before {
      content: "\2014 \0020"; }
    blockquote cite a,
    blockquote cite a:visited {
      color: #555555; }

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f; }


.button, submit {
  background: #333;
  color: #D5E8FF;
}

.button:hover, submit:hover{
  background: #272727;
  color: #D5E8FF;
}

.button:visited {
  color: #D5E8FF;
}

.columns {
  margin-top: .5em;
}


.comment div p {
  border-bottom: 1px solid #dddddd;
  text-align: right; 
}



.post_image {
  float: right;
  margin: 10px;
}


#right {
  text-align: right;
}

.row_article div div{
  border-right-style: solid;
  border-color: #D5E8FF;
}


.row_article{
  border-bottom-style: solid;
  border-color: #D5E8FF;
}

.row_article .button{
  width: 100%;  
  background-size: 100%;
  text-align: center;
  color: #D5E8FF;
  
}

.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: .75rem;
  background: #f2f2f2;
 /* background: transparent\9;*/  
  background:rgba(0,0,0,0.5);  
  color: #D5E8FF; }
  .panel > :first-child {
    margin-top: 0; }
  .panel > :last-child {
    margin-bottom: 0; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
    color: #D5E8FF; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    line-height: 1;
    margin-bottom: 0.625rem; }
    .panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
      line-height: 1.4; }
  .panel.callout {
    border-style: solid;
    border-width: 1px;
    border-color: #b6edff;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #ecfaff;
    color: #333333; }
    .panel.callout > :first-child {
      margin-top: 0; }
    .panel.callout > :last-child {
      margin-bottom: 0; }
    .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p, .panel.callout li, .panel.callout dl {
      color: #333333; }
    .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
      line-height: 1;
      margin-bottom: 0.625rem; }
      .panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
        line-height: 1.4; }
    .panel.callout a:not(.button) {
      color: #008cba; }
  .panel.radius {
    border-radius: 3px; }


.tabs {
  margin-bottom: 0 !important;
  margin-left: 0; }
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs dd, .tabs .tab-title {
    position: relative;
    margin-bottom: 0 !important;
    list-style: none;
    float: left; }
    .tabs dd > a, .tabs .tab-title > a {
      display: block;
      background-color: #efefef;
      color: #222222;
      padding: 1rem 2rem;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1rem; }
      .tabs dd > a:hover, .tabs .tab-title > a:hover {
        background-color: #e1e1e1; }
    .tabs dd.active a, .tabs .tab-title.active a {
      background-color: white;
      color: #222222; }
  .tabs.radius dd:first-child a, .tabs.radius .tab:first-child a {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .tabs.radius dd:last-child a, .tabs.radius .tab:last-child a {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  .tabs.vertical dd, .tabs.vertical .tab-title {
    position: inherit;
    float: none;
    display: block;
    top: auto; }

.tabs-content {
  margin-bottom: 1.5rem;
  width: 100%; }
  .tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
  .tabs-content:after {
    clear: both; }
  .tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375rem 0;
    width: 100%; }
    .tabs-content > .content.active {
      display: block;
      float: none; }
    .tabs-content > .content.contained {
      padding: 0.9375rem; }
  .tabs-content.vertical {
    display: block; }
    .tabs-content.vertical > .content {
      padding: 0 0.9375rem; }

@media only screen and (min-width: 40.063em) {
  .tabs.vertical {
    width: 20%;
    max-width: 20%;
    float: left;
    margin: 0 0 1.25rem; }

  .tabs-content.vertical {
    width: 80%;
    max-width: 80%;
    float: left;
    margin-left: -1px;
    padding-left: 1rem; } }
.no-js .tabs-content > .content {
  display: block;
  float: none; }


textarea {
  height: 10em;
  color: black;
}

@media screen and (max-width: 980px) {
  /*this for anything  that needs to resize when the viewer is resized*/

}




